body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(239, 239, 239);
}
header {
  background-color: black;
  text-align: right;
}

a {
  color: #00b7ff;
}
.login {
  justify-content: right;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
div {
  display: flex;
  justify-content: space-around;
  background-color: white;
  overflow: hidden;
}

#blackCat {
  position: relative;
  top: -4px;
}

h1 {
  font-size: 80px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4267b2,
      0 0 40px #4267b2, 0 0 50px #4267b2, 0 0 60px #4267b2, 0 0 70px #4267b2;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #1db954, 0 0 40px #1db954,
      0 0 50px #1db954, 0 0 60px #1db954, 0 0 70px #1db954, 0 0 80px #1db954;
  }
}

.second-div {
  display: flex;
  float: right;
}
.first-div {
  display: flex;
  float: right;
}

nav {
  background-color: white;
  text-align: right;
  display: flex;
  justify-content: space-around;
}

.addContainer {
  background-color: white;
  text-align: center;
  justify-content: center;
  position: relative;
  border: 2px solid black;
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.addContainer label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.addContainer label > input {
  width: 100%;
}

.addContainer label > select {
  width: 100%;
}
.addContainer button {
  align-self: center;
  padding: 5px;
  width: 100%;
}

.addContainer form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 550px;
}

h2 {
  text-align: center;
}

.shimmer {
  text-align: center;
  font-family: "Lato";
  font-weight: 300;
  font-size: 3em;
}
.shimmer {
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#222),
    to(#222),
    color-stop(0.5, #fff)
  );
  background: -moz-gradient(
    linear,
    left top,
    right top,
    from(#222),
    to(#222),
    color-stop(0.5, #fff)
  );
  background: gradient(
    linear,
    left top,
    right top,
    from(#222),
    to(#222),
    color-stop(0.5, #fff)
  );
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.indexContainer {
  background-color: white;
  text-align: center;
  justify-content: center;
  position: relative;
  border: 2px solid black;
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.indexContainer label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.indexContainer label > input {
  width: 100%;
}

.indexContainer label > select {
  width: 100%;
}
.indexContainer button {
  align-self: center;
  padding: 5px;
  width: 100%;
}

.indexContainer form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 550px;
}

.showContainer {
  background-color: rgb(214, 233, 251);
  text-align: center;
  justify-content: center;
  position: relative;
  border: 2px solid black;
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.showContainer label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid black;
}

.showContainer label > input {
  width: 100%;
}

.showContainer label > select {
  width: 100%;
}
.showContainer button {
  align-self: center;
  padding: 5px;
  width: 100%;
}

.showContainer form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 550px;
}

.cat-photo {
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
}
