body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(217, 214, 214);
}
header {
  background-color: white;
}

a {
  color: #00b7ff;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#orangeCat {
  position: relative;
}
#orangeCat img {
  position: absolute;
  top: 0px;
  right: 0px;
}
#blackCat {
  position: relative;
}
#blackCat img {
  position: absolute;
  top: 0px;
  left: 0px;
}
