body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(217, 214, 214);
}
header {
  background-color: white;
  text-align: right;
}

a {
  color: #00b7ff;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
div {
  display: flex;
  justify-content: space-around;
  background-color: white;
  overflow: hidden;
}

#blackCat {
  position: relative;
  top: -4px;
}

h1 {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4267b2,
      0 0 40px #4267b2, 0 0 50px #4267b2, 0 0 60px #4267b2, 0 0 70px #4267b2;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #1db954, 0 0 40px #1db954,
      0 0 50px #1db954, 0 0 60px #1db954, 0 0 70px #1db954, 0 0 80px #1db954;
  }
}

.second-div {
  display: flex;
  float: right;
}
.first-div {
  display: flex;
  float: right;
}

nav {
  background-color: white;
  text-align: right;
  display: flex;
  justify-content: space-around;
}

.addContainer {
  background-color: white;
  text-align: center;
  justify-content: center;
  position: relative;
  border: 2px solid black;
  width: 60%;
  margin: 0 auto;
}
