<%- include('../partials/header') %>


</head>
<body>
  <h2 class="shimmer">Add a New Cat</h2>
  <div class="addContainer">
  <form action="/kittens" method="POST" enctype="multipart/form-data">
    <label>Name: <input type="text" name="name" /> </label><br />
    <label>Add Photo: 
        <input type="file" name="photo" id="photo">
    </label>
    <label class="input-group mb-3" id="inputGroup-sizing-default">Age: <input type="number" name="age" /> </label><br />
    <label class="input-group-text" id="inputGroupSelect01"
    for="inputGroupSelect01">Gender:
      <select name="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Unknown">Unknown</option> </select></label
    ><br />
    <label class="input-group-text" id="inputGroupSelect01"
    for="inputGroupSelect01">Breed:
      <select class="input-group mb-3" name="breed">
        <option value="Persian">Persian</option>
        <option value="Maine Coon">Maine Coon</option>
        <option value="Ragdoll">Ragdoll</option>
        <option value="Siamese">Siamese</option>
        <option value="British Shorthair">British Shorthair</option>
        <option value="Exotic Shorthair">Exotic Shorthair</option>
        <option value="Abyssinian">Abyssinian</option>
        <option value="Tonkinese">Tonkinese</option>
        <option value="Russian Blue">Russian Blue</option>
        <option value="Bengal">Bengal</option>
        <option value="Scottish Fold">Scottish Fold</option>
        <option value="Siberian">Siberian</option>
        <option value="Birman">Birman</option>
        <option value="Himalayan">Himalayan</option>
        <option value="Nebelung">Nebelung</option>
        <option value="Norwegian Forest">Norwegian Forest</option>
        <option value="Bombay">Bombay</option>
        <option value="Burmese">Burmese</option>
        <option value="Chartreux">Chartreux</option>
        <option value="American Shorthair">American Shorthair</option>
        <option value="Mutt">Mutt</option>
        <option value="Other">Other</option>
      </select> </label
    ><label>Bio:<br />
    <textarea name="bio" id="bio-text" cols="30" rows="10"></textarea>
  </label>
    <br />
    <button class="btn btn-primary" type="submit">Add Kitten</button>
    </form>
    </div>



<%- include('../partials/footer') %>
